<div class="page-header">
  <h3>Make this the home page</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
          
        </div>

        <div class="col-md-5">

        </div>
    </div>
</div>
