<div class="page-header">
  <h3><%= current_user.first_name %>'s Account Page</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <h3>To Date You have Saved!</h3>
          <h4>Account Balance:</h4> 
        </div>

        <div class="col-md-5">
          <h3>Entries in This Month's Raffle</h3>
        </div>
    </div>
</div>
