<div class="page-header">
<div class="col-md-offset-4 col-md-4">
  <h1>Seedling</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <h4>Who we are</h4>
      <p> We are a fintech start-up aimed at helping you save money! Our mission is to help the un and underbanked save money, weather financial shocks, and transition into the "traditional" financial system.</p>
    </div>

    <div class="col-md-5">
      <h4>What we do</h4>
      <p> By using prize-linked savings accounts, and a random reinforcement payment system, we aim to incentivize saving behavior. We're hoping to help people get the same thrill of the lottery, without putting their principal at risk. Interested in trying it out? Go ahead and sign-up today!
      </p>
    </div>
  </div>
</div>
