<!-- Validation failure messages -->
<% if @transaction.errors.any? %>
  <% @transaction.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Save to Win!</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_transaction" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input name="user_id" type="hidden" value="<%= current_user.id %>">

      <!-- Label and input for amount -->
      <div class="form-group">
        <label for="amount" class="control-label">
          Amount (only a multiple of $5; max $25/month)
        </label>

        <input type="integer" id="amount" name="amount" placeholder="Amount" class="form-control" value="<%= @transaction.amount %>">
      </div>


    <ul></ul>

      <button class="btn btn-success">
        Create Transaction
      </button>
      or
      <a href="/transactions">Cancel</a>
    </form>
  </div>
</div>
